repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    - id: check-merge-conflict
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-shebang-scripts-are-executable
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.9.0
    hooks:
      - id: shellcheck
        args: ['--external-sources', '--source-path=src']
        verbose: true
  - repo: https://github.com/inknos/pre-commit-rpmlint
    rev: v0.0.1
    hooks:
    - id: rpmlint
      args:
        - --ignore-unused-rpmlintrc
